@charset "UTF-8";

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--main-bg-color: #ddcaaa;
	background-color: var(--main-bg-color);
}
/* 
img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic
}
 */

h2 {
	font-family: "Annie Use Your Telescope", Arial, serif;
	font-size: 1.8em;
	}

.section-header {
	background-image: url("./images/img_banner2.png");
	/* background-image: url("./images/swing.gif"); */
	height: 650px;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center bottom;
    /* background-attachment: fixed; */
    display: flex;
	justify-content: center;
	}

@media only screen and (min-width: 960px) {
	.section-header { background-attachment: fixed;}
}

.header-logo img {
	/* border: 1px solid red; */
	width: 300px;
	display: flex;
	justify-content: center;
	margin: 30px;
}

.section-download {
	/* background-color: var(--main-bg-color); */
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.download-container {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}

.download-button {
	max-width: 100%;
	border-radius: 15px;
	box-shadow: rgba(5, 6, 6, .50)0 0 15px;
	margin: 10px 0;
	}

.section-trailer {
	background: url("./images/img_trailer_bg.png") no-repeat center center;
  	background-size: cover;
  	position: relative;
  	padding:0;
  	text-align: center;
  	overflow: hidden;
	max-width: 100%;
	}

.section-trailer iframe{
	width: 796px;
	height: 448px;
	margin: 40px 0;
	box-shadow: rgba(5, 6, 6, .75)0 0 40px;
}

@media screen and (max-width: 64em) {
    .section-trailer iframe {
        width: 90%;
        margin: 30px 0;
    }
}
@media screen and (max-width: 40em) {
    .section-trailer iframe {
       	height: 70%;
       	margin: 20px 0;
    }
}

.section-features {

	/* background-color: var(--main-bg-color); */
	padding-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.features-container {
/* 
border: 1px solid red;	/* debug */
	display: flex;
	justify-content: space-around; 
	align-items: center;
	max-width: 800px;
	}

.its-cute {
	max-width: 50%;
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.its-cute img {
	max-width: 100%;
	}

.features {
	max-width: 50%;
	margin-left: 10px;
	}

.bullet-list {
	font-size: 1.2em;
	line-height: 1.6em;
	list-style-type: square;
	font-family: "quicksandregular","Helvetica Neue",Helvetica,sans-serif;
	}

.section-screenshots {
	/* background-color: var(--main-bg-color); */
	padding: 30px 10px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.screenshots-container {
	max-width: 1000px;		
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	}

.screenshot img {
    width: 300px;
    margin: 10px;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

.screenshot img:hover {
	opacity: 0.7
	}

.section-awards {
	/* background-color: var(--main-bg-color); */
	padding: 30px 10px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
.section-quotes {
	/* background-color: var(--main-bg-color); */
	padding: 10px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.quotes-container {
	max-width: 1200px;		/* Modify here to get only 2 columns */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	}

.quote {
/* 	border: 1px solid green; */
	width: 330px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 15px;
	
	font-family: "quicksandregular","Helvetica Neue",Helvetica,sans-serif;
	font-style: italic;
	font-size: 1.1em;
	}

.quote img:hover, .download-button:hover, .award img:hover {
 	-webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    -o-transition:opacity 0.2s;
    transition: opacity 0.2s;
	opacity: 0.7;
	}

footer {
	/* background-color: tan; */
	padding: 10px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	padding-top: 30px;
	
	font-family: "quicksandregular","Helvetica Neue",Helvetica,sans-serif;
	font-size: 0.7em;
	line-height: 0.8em;
	text-align: center;
	}

footer a {
	text-decoration: none;
	}

footer a:visited, footer a:link{
	color: black;
	}
	
footer a:visited:hover, footer a:hover {
	color: #0066cc;
}

