@charset "UTF-8";
@font-face {
    font-family: "Annie Use Your Telescope";
    src: url("fonts/annie/annieuseyourtelescope-webfont.woff2") format("woff2"),
         url("fonts/annie/annieuseyourtelescope-webfont.woff") format("woff"),
         url("fonts/annie/annieuseyourtelescope.ttf") format("truetype"),
         url("fonts/annie/annieuseyourtelescope.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand/quicksand-regular-webfont.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--main-bg-color: #2d5da4;
	background-color: var(--main-bg-color);	
	overflow: hidden;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 800px;
    perspective:800px;
    max-width:100%;
  }
  
.parallax__group{
	display: none;
	}

.content {
	background-image: url("./images/img_floor_2.png");
	background-repeat: repeat;
	background-position: 55% 14px;
	background-size: 70px;
}

hr {
	margin: auto;
	border-style: dashed;
	border-width: 0.5px;
}

h2 {
	font-family: "Annie Use Your Telescope", Arial, serif;
	font-size: 1.3em;
	}

h3 {
	font-family: "Annie Use Your Telescope", Arial, serif;
	font-size: 1.1em;
	margin:-5px 0 10px 0;
}

h4 {
	font-family: "Annie Use Your Telescope", Arial, serif;
	font-size: 1.2em;
	text-shadow: rgba(5, 6, 6, .20)0 0 10px;
}

#text-link {
	text-decoration: none;
	}

#text-link:visited, #text-link:link{
	color: black;
	}
	
#text-link:visited:hover, #text-link:hover {
	color: #0066cc;
}

.section-header {
	background-image: url("./images/img_banner2.png");
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
	justify-content: center;
	}

.header-logo img {
	width: 200px;
	display: flex;
	justify-content: center;
	margin: 20px;
}

.section-download {
	min-height:30vh;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.download-container {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: rgba(5, 6, 6, .30)0 0 10px;
	}

.download-button{
	max-width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	box-shadow: rgba(5, 6, 6, .50)0 0 15px;
	margin-bottom: 10px
	}
	
.download-button img {
	max-width: 100%;
	}

.section-trailer {
	background: url("./images/img_trailer_bg.png") no-repeat bottom center;
  	background-size: cover;
  	display:flex;
	justify-content: center;
	max-width: 100%;
	box-shadow: rgba(5, 6, 6, .50)0 0 35px;
	}

iframe{
	width:300px;
	height: 169px;
	margin: 20px 0;
	box-shadow: rgba(5, 6, 6, .75)0 0 20px;
}

.section-features {
	padding-top: 40px;
	max-width: 100%;
}

.features-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	}

.its-cute {
	max-width: 70%;
	margin: 0 0 10px 0;
}

.its-cute img {
	max-width: 100%;
	}

.features {
	max-width: 90%;
	margin: 0 20px 0 35px;
	}

.bullet-list {
	font-size: 1.1em;
	line-height: 1.5em;
	list-style-type: square;
	font-family: "quicksandregular","Helvetica Neue",Helvetica,sans-serif;
	text-shadow: rgba(5, 6, 6, .30)0 0 10px;
	}

strong {
	text-shadow: rgba(5, 6, 6, .40)0 0 10px;
}

.bullet-list li {
	margin: 10px 0;
}


.section-screenshots {
	padding: 30px 10px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.screenshots-container {
	max-width: 1000px;		
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	}

.screenshot img {
    width: 300px;
    margin: 10px;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    box-shadow: rgba(5, 6, 6, .50)0 0 15px;
}

.screenshot img:hover {
	opacity: 0.7
	}

.section-awards {
	padding: 30px 10px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
.section-quotes {
	padding: 10px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.quotes-container {
	max-width: 1200px;		/* Modify here to get only 2 columns */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	}

.quote {
/*border: 1px solid green;*/ 
	width: 330px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 10px;
	text-shadow: rgba(5, 6, 6, .30)0 0 10px;
	
	font-family: "Annie Use Your Telescope", Arial, serif;
	font-style: italic;
	font-size: 1.05em;
	}

.download-button, .quote-img, .award-img, .credit, .social-link-button {
 	-webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    -o-transition:opacity 0.2s;
    transition: opacity 0.2s;
}

.quote-img:hover, .download-button:hover, .award-img:hover, .credit:hover, .social-link-button:hover {
	opacity: 0.7;
	}

.section-social-links {
	max-width: 100%;
	display: flex;
	align-items:center;
	justify-content: center;
	padding: 30px 0;
}

.social-links-container {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-link-button {
	max-width:20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-link-button img {
	max-width:100%;
}

.section-credits { 
border: 1px solid blue;
	padding: 20px 5px 0 5px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
}

#student-game, #mentions {
	font-family: "quicksandregular","Helvetica Neue",Helvetica,sans-serif;
	font-size: 0.5em;
	line-height: 0.2em;
}

#mentions {
	font-size: 0.4em;
	line-height: 1.2em;
}

.credits-container {
	min-width: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px 10px;
}

.credit {
	/* border: 1px solid blue; */
	margin: 0 5px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.credit img {
	height:80%;
	width: auto;
}

footer {
	padding: 30px 10px 10px 10px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "quicksandregular","Helvetica Neue",Helvetica,sans-serif;
	font-size: 0.7em;
	line-height: 0.8em;
	text-align: center;
	}

@media only screen and (min-width: 415px)
{
	hr { width: 640px;}
	
	.content {
	background-position: 55% 19px;
	background-size: 105px;
	}

	.section-header { 
	height: 650px;
	}

	.header-logo img {
	width: 300px;
	margin: 40px;
	}

	h2 {
	font-size: 1.8em;
	}
	h3 {font-size: 1.3em;}

	.section-download {
	padding: 40px;
	}
	
	iframe {
		width:400px;
		height: 225px;
		margin: 30px 0;
	}
	
	.section-features {
	display: flex;
	justify-content: center;
	align-items: center;
}

	.features-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	align-items: center;
	max-width: 90%;
	}

	.its-cute {
	max-width: 50%;
	margin: 0 10px 0 0;
	display: flex;
	align-items: center;
	}

	.its-cute img {
	max-width: 100%;
	}

	.features {
	max-width: 50%;
	margin: 0 0 0 10px;
	}

	.bullet-list {
	font-size: 1.1em;
	line-height: 1.5em;
	}

	.section-credits {
	padding: 20px 100px 0 100px;
	}

	#student-game, #mentions {
	font-size: 0.7em;
	line-height: 0.2em;
	}

	#mentions {
	font-size: 0.6em;
	line-height: 1.2em;
	}

	.credits-container {
	min-width: 400px;
	}

	.credit img {
	height:90%;
	width: auto;
	}
}

@media only screen and (min-width: 960px) 
{
	hr { width: 960px;}
	
	.content {
	background-position: 48% -2px;
	background-size: 10vw;
	}
	
	.section-header {
	display:none;
	}

	.parallax__group {
	display: block;
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index:-1;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }

  .parallax__layer--1 {
    background-image: url("images/parallax/parallax_1.png");
    transform: translateZ(0);
  }
  
  .parallax__layer--2 {
    background-image: url("images/parallax/parallax_2.png");
    transform: translateZ(-200px) scale(1.26);
  }

  .parallax__layer--3 {
    background-image: url("images/parallax/parallax_3.png");
    transform: translateZ(-400px) scale(1.506);
  }

  .parallax__layer--4 {
    background-image: url("images/parallax/parallax_4.png");
    transform: translateZ(-600px) scale(1.75);
  }

  .parallax__layer--5 {
    background-image: url("images/parallax/parallax_5.png");
    transform: translateZ(-800px) scale(2);
  }

  .parallax__layer--6 {
    background-image: url("images/parallax/parallax_6.png");
    transform: translateZ(-1000px) scale(2.27);
  }

  .parallax__layer--7 {
     background-image: url("images/parallax/parallax_7.png");
    transform: translateZ(-1200px) scale(2.525);
  }
	
	.header-logo {
	transform: translateZ(-1200px) scale(2.5);
    display: block;
	text-align: center;
	}
	
	.header-logo img {
	margin: 10vh auto ;
	width: 30vh;
	position: relative;
	display:block;
	}
	
	.section-download {
	padding: 50px;
	}

	h3 {display: none;}
	
	iframe {
		width:796px;
		height: 448px;
		margin: 40px 0;
	}


	.features-container {
	max-width: 800px;
	}

	.bullet-list {
	font-size: 1.2em;
	line-height: 1.6em;
	}
	
	.section-credits {
	padding: 20px 0 0 0;
	}

	.credits-container {
	min-width: 500px;
	}

	.credit {
	margin: 0 30px;
	height: 50px;
	}

	.credit img {
	height:100%;
	width: auto;
	}
}